.sidebar {
    position: fixed;
    top: 82px;
    left: 0;
    height: calc(100vh - 80px);
    background: #f7f7f7;
    max-width: 700px;
    min-width: 78px;
    z-index: 100;
    transition: all 0.8s ease;
    color: var(--evol-black);
    word-wrap: break-word;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 3px 15px 5px rgba(0, 0, 0, 0.2);
}
    .sidebar::before {
        content: "";
        display: block;
        height: calc(100vh); /* adjust as needed */
        width: 100%;
        background-color: #f7f7f7;
        position: absolute;
        top: 0;
        left: 0;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        box-shadow: 3px 15px 5px rgba(0, 0, 0, 0.2);
    }


    .sidebar.close {
        min-width: 78px;
        max-width: 78px;
        transition: all 0.8s ease;
    }

    #nav-links-wrapper {
        z-index: 3000;
        position: relative;
    }

    .sidebar .nav-links {
        height: 100%;
        padding: 10px 0 10px 0;
        overflow: auto;
    }

    .sidebar.close .nav-links {
        overflow: visible;
    }

    .sidebar .nav-links::-webkit-scrollbar {
        display: none;
    }

    .sidebar .nav-links li {
        position: relative;
        list-style: none;
        transition: all 0.4s ease;
        margin: 8px 0;
    }

        .sidebar .nav-links li.collapse-arrow{
            position:fixed;
            bottom:30px;
        }

.sidebar .circle:hover {
    box-shadow: 0px 0px 6px 1px #9a9a9a;
    transform: translate(3px);
}

.sidebar .nav-links li.collapse-arrow .circle:hover {
    box-shadow: 0px 0px 6px 1px #9a9a9a;
    transform: translate(-3px);
}  
.sidebar.close .nav-links li.collapse-arrow:hover {
    transform: translate(3px);
}    
        
        .sidebar .nav-links li:hover a .circle {
            box-shadow: 0px 0px 6px 1px #9a9a9a;
        }

        .sidebar .nav-links li .iocn-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    .sidebar.close .nav-links li .iocn-link {
        display: block
    }

    .sidebar .nav-links li i {
        height: 50px;
        min-width: 50px;
        text-align: center;
        line-height: 50px;
        color: black;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-180deg);
    }

.sidebar.close .nav-links i.arrow {
    display: none;
    color: var(--evol-grey);
}

    .sidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .sidebar .nav-links li a .link_name {
            font-size: 18px;
            font-weight: 400;
            color: var(--evol-black);
            transition: all 0.4s ease;
            margin-left: 10px;
            white-space: nowrap;
        }

        .sidebar .nav-links li a .li-circle {
            width: 50px;
            height: 50px;
            overflow: hidden;
            margin-left: 15px;
            font-size: 30px;
        }

    .sidebar.close .nav-links li a .link_name {
        opacity: 0;
        display: none;
        pointer-events: none;
    }

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 6px 80px;
    margin-top: -10px;
    display: none;
}



    .sidebar .nav-links li.showMenu .sub-menu {
        display: block;
    }


    .sidebar .nav-links li .sub-menu a {
        color: var(--evol-black);
        font-size: 15px;
        padding: 5px 0;
        white-space: nowrap;
        transition: all 0.3s ease;
    }

        .sidebar .nav-links li .sub-menu a:hover {
            background: #e6e6e6;
        }

    .sidebar.close .nav-links li .sub-menu {
        position:absolute;
        left: 78px;
        top: 15px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    }

    .sidebar .nav-links li .sub-menu li {
        margin: 4px 20px;
    }

    .sidebar .nav-links li .sub-menu li:hover{
        
    }
    .sidebar.close .nav-links li:hover .sub-menu {
        top: -10px;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
        min-height: 60px;
        max-height: 350px;
        overflow: auto;
        background: #f7f7f7;
    }

        /* width */
        .sidebar.close .nav-links li:hover .sub-menu::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        .sidebar.close .nav-links li:hover .sub-menu::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        /* Handle */
        .sidebar.close .nav-links li:hover .sub-menu::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #c1c1c1;
        }

            /* Handle on hover */
            .sidebar.close .nav-links li:hover .sub-menu::-webkit-scrollbar-thumb:hover {
                background: #979797;
            }




    .sidebar .nav-links li .sub-menu .link_name {
        display: none;
    }

    .sidebar.close .nav-links li .sub-menu .link_name {
        font-size: 18px;
        opacity: 1;
        display: block;
    }
        .sidebar.close .nav-links li .sub-menu .link_name:hover{
            background:#f7f7f7;
        }

        .sidebar .nav-links li .sub-menu.blank {
            opacity: 1;
            pointer-events: auto;
            padding: 3px 20px 6px 16px;
            opacity: 0;
            pointer-events: none;
        }

    .sidebar .nav-links li:hover .sub-menu.blank {
        top: 0%;
        transform: translateY(0%);
    }

    .sidebar.close .nav-links li .sub-menu li .sub-sub-menu {
        margin-top: 0;
        padding: 0px 0px 0px 10px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
    }

    .sidebar.close .nav-links li:hover .sub-menu li .sub-sub-menu {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
    }

    .sidebar .nav-links li .sub-menu li .sub-sub-menu-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 33px;
    }

        .sidebar .nav-links li .sub-menu li .sub-sub-menu-title i {
            font-size: 15px;
        }

        .sidebar .nav-links li .sub-menu li .sub-sub-menu-title a .link_name {
            font-size: 15px;
            font-weight: 400;
            color: var(--evol-black);
            transition: all 0.4s ease;
            display: block;
            margin-left: 0px;
        }

    .sidebar .nav-links li .sub-menu li.showSubMenu .sub-sub-menu {
        display: block;
    }

.sidebar .nav-links li .sub-menu li .sub-sub-menu-title i.arrow {
    transform: rotate(0deg);
}

    .sidebar .nav-links li .sub-menu li.showSubMenu .sub-sub-menu-title i.arrow {
        transform: rotate(-180deg);
    }

    .sidebar .nav-links li .sub-menu li .sub-sub-menu {
        padding: 4px 10px 0px 14px;
        margin-top: -10px;
        display: none;
    }

        .sidebar .nav-links li .sub-menu li .sub-sub-menu li a {
            font-size: 14px;
            padding: 0px;
        }

        .sidebar .nav-links li .sub-menu li .sub-sub-menu li .link_name {
            display: none;
        }

    .sidebar.close #colapse {
        transform: rotate(-180deg);
    }

.home-section {
    position: relative;
    background: white;
    height: calc(100% - 90px);
    left: 320px;
    width: calc(100% - 320px);
    transition: all 0.5s ease;
    top: 90px;
    padding: 0 10px 10px 10px;
}

.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.sidebar.close ~ footer {
    left: 0;
    width: 100%;
    transition: none;
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

    .home-section .home-content .bx-menu,
    .home-section .home-content .text {
        color: var(--evol-black);
        font-size: 35px;
    }

    .home-section .home-content .bx-menu {
        margin: 0 15px;
        cursor: pointer;
    }

    .home-section .home-content .text {
        font-size: 26px;
        font-weight: 600;
    }

@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        width: 78px;
    }

        .sidebar.close {
            width: 0;
        }

    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }

    .sidebar.close ~ .home-section {
        width: 100%;
        left: 0;
    }
}
