@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserLogin


<!-- Login Form -->
<form asp-area="Core" asp-controller="Auth" asp-action="LoginCredentials" method="post">
    <div class="mb-3">
        <label asp-for="Username" class="control-label">Username</label>
        <input asp-for="Username" class="form-control" required />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="control-label">Password</label>
        <input asp-for="Password" class="form-control fadeIn" type="password" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

