<div class="sidebar-wrapper">
  <div class="navigation-col">
    <div class="sidebar-circle circle"
        matTooltip="tooltip example 1"
        matTooltipShowDelay="250"
        matTooltipPosition="right"></div>
    <div class="sidebar-circle circle"
        matTooltip="tooltip example 2"
        matTooltipShowDelay="250"
        matTooltipPosition="right"></div>
    <div class="sidebar-circle circle"
        matTooltip="tooltip example 3"
        matTooltipShowDelay="250"
        matTooltipPosition="right"></div>
    <div class="sidebar-circle circle sidebar-circle-selected"
        matTooltip="tooltip example 4"
        matTooltipShowDelay="250"
        matTooltipPosition="right"></div>
  </div>
  <div class="inner-col">
    <app-sidebar-inner-menu></app-sidebar-inner-menu>
  </div>
</div>
