<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="d:/internal_logs/internallog.txt">
	<targets>
		<target name="internallog" xsi:type="File"
				fileName="d:/internal_logs/${shortdate}_internallog.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="internallog" />
	</rules>
</nlog>
