<div class="topbar-wrapper">
  <div class="col es-col">
    <div class="es-circle circle"></div>
  </div>
  <div class="col title-col">
    <p class="es-title evol-font">evolUX</p>
  </div>
  <div class="col settings-col">
    <div class="settings-circle circle"></div>
    <div class="settings-circle circle mid-circle"></div>
    <div class="settings-circle circle"></div>
  </div>
  <!--
  <a [routerLink]="['/']">{{ 'home' | translate }}</a>

        <a [routerLink]="['/exp']">ExpeditionZone</a>

        <a (click)="changeLang()"
          matTooltip="{{ 'lang-warning' | translate }}"
          matTooltipShowDelay="500">{{ 'lang' | translate }}</a>
  -->
</div>
<div class="topbar-gradient"></div>
