<div class="sidebar close">

    <ul id="nav-links-wrapper" class="nav-links">
        <li>
            <div class="iocn-link">
                <a>
                    <i class='li-circle circle  bx bxs-wrench' style="color:rgb(90 205 239);;"></i>
                    <span class="link_name">evolFlow</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">evolFlow</a></li>
                <li><a href="#">Registo Automático</a></li>
                <li><a href="#">Fluxos Configurados</a></li>
                <li><a href="#">Modelo de Dados Ativos</a></li>
                <li><a href="#">Recursos</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a>
                    <i class='li-circle circle  bx bx-revision'></i>
                    <span class="link_name">Processamento</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Processamento</a></li>
                <li><a href="#">Controlo de Jobs</a></li>
                <li>
                    <div class="sub-sub-menu-title">
                        <a href="#">
                            <span class="link_name">Executar Fluxos</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-sub-menu">
                        <li><a class="link_name" href="#">Executar Fluxos</a></li>
                        <li><a href="#">Produção</a></li>
                        <li><a href="#">Backups</a></li>
                        <li><a href="#">Expurgos</a></li>
                    </ul>
                </li>

                <li><a href="#">Tarefas de Utilizador</a></li>
                <li><a href="#">Pedidos Online</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a>
                    <i class='li-circle circle bx bx-book-alt' style="color:rgb(245 126 72)"></i>
                    <span class="link_name">evolDP</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">evolDP</a></li>
                <li><a asp-area="EvolDP" asp-controller="DocCode" asp-action="DocCodeIndex">Tipos de Documentos</a></li>
                <li><a href="#">Gama de Envelopes</a></li>
                <li><a href="#">Materiais</a></li>
                <li><a href="#">Companhias de Serviços</a></li>
                <li><a href="#">Serviços por Companhias</a></li>
                <li><a href="#">Companhias de Expedição</a></li>
                <li><a href="#">Códigos Tratamento/Expedição</a></li>
                <li><a href="#">Versões de Projectos</a></li>
                <li><a href="#">Parametros Expurgos</a></li>
                <li><a asp-area="EvolDP" asp-controller="ExpeditionType" asp-action="ExpeditionType">Tipos de Expedição</a></li>
                <li><a href="#">Zonas de Expedição</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a>
                    <i class='li-circle circle bx bx-pie-chart-alt-2'></i>
                    <span class="link_name">Relatórios</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Relatórios</a></li>
                <li><a href="#">Integrações</a></li>
                <li><a href="#">Controlo de Back-End</a></li>
                <li><a href="#">Retenções</a></li>
                <li><a href="#">Produção Pendente</a></li>
                <li><a href="#">Produção</a></li>
                <li><a href="#">Recuperações</a></li>
                <li><a href="#">Controlo de Produção</a></li>
                <li><a href="#">Controlo de Facturação</a></li>
                <li><a href="#">Expedição</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
            <a>
                <i class='li-circle circle  bx bx-line-chart'></i>
                <span class="link_name">Finishing</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>

            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Finishing</a></li>
                <li><a asp-area="Finishing" asp-controller="ProductionReport" asp-action="ProductionRunReport">Estado de Produção</a></li>
                <li><a href="#">Registos Pendentes</a></li>
                <li><a href="#">Objecto Postal</a></li>
                <li><a asp-area="Finishing" asp-controller="ConcludedPrint" asp-action="Index">Impressão Concluida</a></li>
                <li><a asp-area="Finishing" asp-controller="ConcludedEnvelope" asp-action="Index">Envelopagem Concluida</a></li>
                <li><a href="#">Recuperações Totais</a></li>
                <li><a href="#">Recuperações Totais</a></li>
                <li><a href="#">Recuperações: Detalhes</a></li>
                <li><a href="#">Guias de Expedição</a></li>
            </ul>
        </li>
        <li>
            <a>
                <i id="colapse" class='li-circle circle  bx bxs-chevron-left'></i>
            </a>
        </li>
    </ul>
</div>
